.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.h1Title{
    font-family: 'Jost', sans-serif;
    text-align: center;
}

@media (min-width: 768px){
    .cardContainer{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
}