.container {
    background-color: #282828;
    overflow-x: hidden;
    margin-bottom: 5%;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #e7746f;
}

.Footer {    
    background-color: #e7746f;
    border-top: solid 1px #282828;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.iconsContainer{
    padding-top: 3px;
    display: flex;
    justify-content: space-evenly;
}

.icon{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: white;
}
.iconEmail{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: white;
}

.icon:hover{
    color: #43B3E0
}

.navLink {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

.navItems {
    list-style: none;
    text-decoration: none;
}

.navLinkText {
    color: white;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.navLinkText:hover {
    color: #e7746f;
}

.titles {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

/* DESKTOP */


@media (min-width: 768px) {
    .container {
        background-color: #282828;
        height: 9.5%;
        margin-bottom: 0%;

    }
    
    body{
        overflow-x: hidden;
    }
    

    .navLink {
        height: 40px;
        font-size: 1px;
        align-items: center;
    }

    .navLinkText {
        font-size: 18px;
        text-align: center;
    }

    .Footer{
        position: relative;
    }
    .iconEmail{
        display: none;
    }
}