.container {
    background-color: #282828;
    overflow-x: hidden;
    margin-bottom: 5%;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    border-bottom: 2px solid #e7746f;
}

.Footer {
    background-color: #e7746f;
    width: 100%;
    margin-top: 1em;
    max-height: 6%;
    text-align: center;
    border-top: 1px solid #282828;
    position: absolute;
    bottom: 0%;
    
}

.FooterText {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 9px;
}

.navLink {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

.navItems {
    list-style: none;
    text-decoration: none;
}

.navLinkText {
    color: white;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.navLinkText:hover {
    color: #e7746f;
}

.titles {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

/* DESKTOP */


@media (min-width: 768px) {
    .container {
        background-color: #282828;
        height: 9.5%;
        margin-bottom: 0%;
    }

    .navLink {
        height: 9.5%;
        font-size: 10px;
    }

    .navLinkText {
        font-size: 13px;
    }
}