.container{
    background-color: #198754;
    border-radius: 10px;
    padding-left: 3em;
    padding-right: 3em;
    border: 0.1px solid black; 
    margin-bottom: 10%;
}

.Parrafos{
    color: white;
    font-family: 'Jost', sans-serif;
}


@media (min-width: 768px){
    .container{
        margin-bottom: 2%;
        padding-left: 15em;
        padding-right: 15em;
    }
}